page-dashboard {
    .title
    {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.2px;
        color: $theme-color-2;
        margin-bottom: 2px;
    }


    .logo{
        width: 80%;
        margin: auto 10%;
    }
}
